header {
overflow: hidden;
}

body{
    margin:0;
    font-family: 'Josefin Sans', sans-serif black;
    font-weight: 300;
}

h1{
    background-color:black;
    height: 10px;
    margin: 0;
    left:0;
    width: 100%;
    overflow: hidden;
}

a{
    text-decoration: none;
}

a:visited{
    color: none;
}

@media(min-width:768px){
    .title{
        font-family: 'Josefin Sans', sans-serif;
        color:whitesmoke;
        font-size: 70px;
        padding-top: 80px;
        padding-bottom:100px;
        text-align: center;
        
    }
}

@media(max-width:767px){
    .title{
        font-family: 'Josefin Sans', sans-serif;
        color:whitesmoke;
        font-size: 70px;
        padding-top: 50px;
        padding-bottom:80px;
        text-align: center;
        font-size: 50px;
    }
}

/* NAV BAR CSS*/
.navbar {
    overflow: hidden;
    background-color: #1b1c1e;
    margin:0;
    padding:0;

  }
.navbar a, i{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 100px;
    text-decoration: none;
    width: 150px;
    display: inline-block;
    justify-content: space-between;
    
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 100;
      text-transform: uppercase;
      letter-spacing: 0.3em;
      word-spacing: 0.4em;
}

button{
    font-size: 16px;
    color: white;
    padding: 14px 100px;
    text-decoration: none;
    
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 100;
      text-transform: uppercase;
      letter-spacing: 0.3em;
      word-spacing: 0.4em;
      border-right: 1px solid #464646;
}
  
.dropdown {
    float: left;
    overflow: hidden;
    font-family: 'Josefin Sans', sans-serif;
}

.dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-align: center;
    width: 350px;
    height:50px;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:  rgb(160, 187, 189);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1b1c1e;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 350px;
  }
  
.dropdown-content a{
    float: none;
    color: white;
    padding: 12px 100px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown-content a:hover {
    background-color:  rgb(160, 187, 189);
    margin: 10px  rgb(160, 187, 189);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .navbar a:active{
      color: rgb(18, 102, 95);
  }
/* END OF NAVBAR CSS */


/* Images CSS */

.ycontainer {
    position: relative;
    text-align: center;
    color: white;
    padding:250px;
    background-image: url(yemenflagsky.jpeg);
    opacity: 0.7;
    background-size: cover;
}

.yemen{
    opacity:65%;
    border: none;
}

.yementext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 100px;
    text-transform: uppercase;

    padding: 40px;
}

.yementext a:visited{
    color:white;
}

.lcontainer{
    position: relative;
    text-align: center;
    color: white;
    padding:250px;
    background-image: url(lebanonflag.jpeg);
    opacity: 0.7;
    background-size: cover;
}

.lebanon{
    opacity:65%;
    border: none;
}

.lebanontext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 100px;
    text-transform: uppercase;

    padding: 40px;
}

.ccontainer{
    position: relative;
    text-align: center;
    color: white;
    padding:250px;
    background-image: url(mask2.jpeg);
    opacity: 0.7;
    background-size: cover;
}
.china{
    opacity:65%;
}

.chinatext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 100px;
    text-transform: uppercase;

    padding: 40px;
}

/* footer CSS */
footer{ 
    overflow: hidden;
    width:100%;
    justify-content: flex-start;
    background-color: black;
    padding: 10px;
    color:white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
}

.copyright{
    margin-bottom: 0;
}

.cfgfooter{
    margin-top: 5px;
}
.subscribe{
    text-align: center;
}

label{
    margin: 0px 30px;
    margin-bottom:10px;
}

input{
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    margin: 10px 10px;
    width: 300px;
    text-align: center;
}

.footerbutton{
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    margin: 5px 20px;
    width:300px;
    text-align: center;
    cursor: pointer;
}

/*social media icons CSS */
.socials{
    justify-content: flex-end;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    margin-right:20px;
    padding-top: 10px;
    padding-bottom: 0;
    overflow: hidden;
}

.fbicon:hover {
    opacity: 0.7;
}

.instaicon:hover {
    opacity: 0.7;
}

.ticon:hover {
    opacity: 0.7;
}

.bodyWrap {
    overflow-x: hidden;
}
